[submodule "libopencm3"]
	path = libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "bare-metal-series"]
	path = bare-metal-series
	url = git@github.com:lowbyteproductions/bare-metal-series.git
[submodule "embedded-docs"]
	path = embedded-docs
	url = git@github.com:physics-archive/embedded-docs
